<div id="page_wrapper">
	

	<div id="content">
		<h1>Hey, I'm Haribharath Mahalingam</h1>
		<p>I'm currently pursuing my final year of B.E in Computer Science and Engineering at St.Josephs College of Engineering, Chennai-600119. </p>
		<p>My areas of interests include human-computer interaction, machine learning, web development and networking. I have successfully completed 3 technical internships under domains like networking and web development.</p>
		<p>My aim is to complete my masters in Computer Science. I'm a member of IEEE since 2018 and active in participating workshops and symposiums</p>
	</div>
</div>